body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.hello{
  width: 31vw!important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type='file'] {
  color: transparent;
  }


.homeText{
  font-weight: 900;
  font-size: 5vh;
  color: white;
  text-decoration: none;
}

.atomHeading{
  position: absolute;
  top: 25vh;
}



.check1 { 
  
  color:#888282d2; }

input[type="checkbox"]:checked + label {
    color: rgb(233, 221, 221);
}



.subHead{
  top: 3vh;
  position: absolute;
  left:23vw;
}



input{
  width: 40vw;
  margin-top: 10px;
  height: 5vh;
  border-radius: 5px;
  
  padding-left: 10px;
  font-size: 2vh;
}


button{
  margin: 20px;
}


label{
  font-size: 2vh;
  font-weight: 600;
  text-transform: uppercase;
}



textarea{
  margin-top: 20px;

  
}
h5{
  font-size: 2vh;
  margin-bottom: 60px;
}


.form-check-label{
  /*make them beautiful */
   font-weight: 600;
  text-transform: uppercase;
  }

.form-check-input{
  display: none;
}
.form-check-label1{
  margin-left: 10px;
  margin-right: 10px;
}

.display1{
  display: inline-block;
}


.form-check{
  width: 80vw;
  margin: 10px;
}

.label1{
margin-bottom: 30px;
}


.topHead{
  background-color: rgb(255, 255, 255); border-radius: 50%; 
  height: 12vw;
  width:12vw;
  padding: 10px;
  color: rgb(8, 0, 0);
  /*center this */
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
}






.image-preview{
  max-width: 40vw ;
  margin-left: auto;
  margin-right: auto;
}


.imgBrain{
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
  
  margin-bottom: 10vh;
}

.diagBox{
  padding: 20px;
}


li{
  font-size: 13px;;
}


.red{
  padding-right: 5px;
  padding-left: 5px;
  color:red
}


